table, th, td {
    color: #FFFFFF;
    border-color: white;
}

.abale {
    height: 800px;
}

.loader {
    position: fixed;
    z-index: 1000;
    top: auto;
    left: auto;
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../../images/animal.gif') 50% 50% no-repeat;
}
