<configuration>
   <configSections>
   </configSections>
   <connectionStrings>
      <add name="WebServer.Properties.Settings.MazeGameDBConnectionString"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\sync\Desktop\WebServer\WebServer\MazeGameDB.mdb"
         providerName="System.Data.OleDb" />
   </connectionStrings>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
